.complete {
  text-decoration: line-through;
  color: orange;
}
.AddBtn {
  color: orange;
  border: 2px solid orange;
  height: 2rem;
  width: 5rem;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.AddInput {
  width: 12rem;
  height: 1.5rem;
  color: green;
  border: 2px solid black;
  border-radius: 10px;
}
